user = {{ postfix_sql_user }}
password = {{ postfix_sql_user_password }}
hosts = {{ postfix_sql_host }}:{{ postfix_sql_port }}
dbname = {{ postfix_sql_db }}
query = SELECT goto FROM alias,alias_domain WHERE alias_domain.alias_domain = '%d' and alias.address = CONCAT('%u', '@', alias_domain.target_domain) AND alias.active = 1 AND alias_domain.active='1'
