##
## Network configuration
##

mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
inet_interfaces = 127.0.0.1, {{ postfix_public_ip | default(ansible_default_ipv4.address) }}
myhostname =  {{ postfix_hostname }}


##
## Mail-Queue Parameters
##

maximal_queue_lifetime = {{ postfix_max_queue_life }}
bounce_queue_lifetime = {{ postfix_bnc_queue_life }}
maximal_backoff_time = {{ postfix_max_backoff_time }}
minimal_backoff_time = {{ postfix_min_backoff_time }}
queue_run_delay = {{ postfix_queue_run_delay }}


##
## TLS Parameters
###

tls_ssl_options = NO_COMPRESSION
tls_high_cipherlist = EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA256:EECDH:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!IDEA:!ECDSA:kEDH:CAMELLIA128-SHA:AES128-SHA

### Outgoing SMTP connections (Postfix as Sender)

smtp_tls_security_level = dane
smtp_dns_support_level = dnssec
smtp_tls_policy_maps = mysql:/etc/postfix/sql/tls-policy.cf
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_protocols = !SSLv2, !SSLv3
smtp_tls_ciphers = high
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt


### Ingoing SMTP connections

smtpd_tls_security_level = may
smtpd_tls_protocols = !SSLv2, !SSLv3
smtpd_tls_ciphers = high
smtpd_tls_dh1024_param_file = {{ postfix_dh_path }}
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache

smtpd_tls_cert_file = {{ postfix_ssl_cert }}
smtpd_tls_key_file = {{ postfix_ssl_key }}


##
## Local delivery to Dovecot
##

virtual_transport = lmtp:unix:private/dovecot-lmtp


##
## Milter: DKIM-Signature via OpenDKIM-Milter
## and Mail-Filter with Amavis (via amavisd-milter)
##

milter_default_action = accept
milter_protocol = 2
{% if postfix_smtpd_milters %}
smtpd_milters = {{ postfix_smtpd_milters }},
{% endif %}
{% if postfix_non_smtpd_milters %}
non_smtpd_milters = {{ postfix_non_smtpd_milters }}
{% endif %}

##
## Server Restrictions for Clients, Receiver and Relaying
## (in terms of S2S connections. Mail client connections are configured in master.cf in the submission area)
##

### Conditions for Postfix to work as relay (for clients)
smtpd_relay_restrictions =      reject_non_fqdn_recipient
                                reject_unknown_recipient_domain
                                permit_mynetworks
                                reject_unauth_destination


### Conditions for Postfix to accept incoming emails as a recipient server (in addition to relay conditions)
### check_recipient_access checks if an account is sendonly
smtpd_recipient_restrictions = check_recipient_access mysql:/etc/postfix/sql/recipient-access.cf


### Conditions that SMTP clients must meet (sending servers)
smtpd_client_restrictions =     permit_mynetworks
                                check_client_access hash:/etc/postfix/without_ptr
                                reject_unknown_client_hostname


### If external servers connect, they must have a valid host name in the HELO.
smtpd_helo_required = yes
smtpd_helo_restrictions =   permit_mynetworks
                            reject_invalid_helo_hostname
                            reject_non_fqdn_helo_hostname
                            reject_unknown_helo_hostname

# Clients will block if they try to send too soon
smtpd_data_restrictions = reject_unauth_pipelining



##
## Postscreen Filter
##

### Postscreen Whitelist / Blocklist
postscreen_access_list =        permit_mynetworks
                                cidr:/etc/postfix/postscreen_access
postscreen_blacklist_action = drop


# Terminate connections if the foreign server is in a hurry
postscreen_greet_action = drop


### DNS blocklists
postscreen_dnsbl_threshold = 2
postscreen_dnsbl_sites = dnsbl.sorbs.net*1, bl.spamcop.net*1, ix.dnsbl.manitu.net*2, zen.spamhaus.org*2
postscreen_dnsbl_action = drop


##
## MySQL configuration
##

virtual_mailbox_domains = proxy:mysql:/etc/postfix/sql/mysql_virtual_domains_maps.cf
virtual_alias_maps =
   proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_maps.cf,
   proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_domain_maps.cf,
   proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_domain_catchall_maps.cf
virtual_mailbox_maps =
   proxy:mysql:/etc/postfix/sql/mysql_virtual_mailbox_maps.cf,
   proxy:mysql:/etc/postfix/sql/mysql_virtual_alias_domain_mailbox_maps.cf

 # Additional for quota support
 virtual_create_maildirsize = yes
 virtual_mailbox_extended = yes
 virtual_mailbox_limit_maps = mysql:/etc/postfix/sql/mysql_virtual_mailbox_limit_maps.cf
 virtual_mailbox_limit_override = yes
 virtual_maildir_limit_message = Sorry, the user's maildir has overdrawn his diskspace quota, please try again later.
 virtual_overquota_bounce = yes


##
## Miscellaneous
##

### Maximum size of the entire mailbox (to be set by Dovecot, 0 = unlimited)
mailbox_size_limit = 0

### Maximum size of incoming emails in bytes (50 MB)
message_size_limit = 52428800

### No system notification for users with new e-mail
biff = no

### Users must always provide full email addresses - not just hostnames
append_dot_mydomain = no

### Separator for "Address Tagging"
recipient_delimiter = +
